@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
    --font-family: "Roboto", sans-serf;
    --primary: #B78D65;
    --light: #F8F8F8;
    --dark: #252525;
    --transition: 0.3s;
    --bold-font: 700;
}

h1 {
    font-size:60px ;
    color:var(--light);
}
h3{
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}
header{
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url(./low-angle-shot-modern-business-building-touching-clear-sky-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
*{
    margin: 0;
    padding:0;
    font-family:var(--font-family);
    box-sizing: border-box;
}

ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary);
  }
  
  a:hover {
    color: var(--light);
  }
  body {
    font-family: var(--font-family);
   
  }
  
  nav {
    top: 0 ;
    left:  0 ;
    z-index: 1 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

nav a {
    color: var(--primary);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--light);
    border-bottom: 2px solid var(--primary);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }
  .burger-menu {
    color: var(--light);
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display:none;
  }

.logo {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    cursor: pointer;
}

.text-content {
     width: 80%;
     margin: auto;
     text-align:center;
     padding: 2rem;
     
   
     
}
.col-text1 {
     font-size: medium;
    color:var(--primary);
    padding-top: 20px;
    text-align: center;
}
.btn {
    margin-top: 30px ;
    height: 60px;
    width:200px;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}
.btn:hover{
    background:none;
    color: var(--primary);
    transition: 1.2s;
    border: 1px solid var(--primary);
}
/*** Section Title ***/
.section-title {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.row {
    width:95%;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}
p{
    font-size: 14px;
    font-weight:300;
    line-height: 22px;
}
.facts {
    margin: 5%;
    display: flex;
    justify-content: space-between;
   
}
.facts-col{
    flex-basis: 31%;
    text-align: center;
    background:rgb(247, 242, 242);
    margin-bottom:5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.facts-col:hover{
    box-shadow: 0 0 20px 0px  rgba(0,0,0,0.2);
}
.icons {
    width: 50px;
    height: 50px;
}




/*----------Media Queries---------------------------*/
@media screen and (max-width: 720px)  {
    
    nav ul {
        position:fixed;
        background-color:transparent;
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: right;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
      }
    
    .burger-menu {
        display: block;
      }
    
     nav ul.show {
        transform: translateX(0);
      }
    
    
    
    
    
    
    
    h1 {
        font-size: 30px;
    }
    .text-content {
        height: 50%;
       margin: 0 0 0 20px;
    }
    
    
    .facts {
        display:block ;
    }
    }
