:root {
    --primary: #B78D65;
    --light: #F8F8F8;
    --dark: #252525;
}

h1 {
    font-size:60px ;
    color:var(--light);
}
h3{
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}
.header{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url(./img/low-angle-shot-modern-business-building-touching-clear-sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
.nav {
     
    display: flex;
    padding: 2%  6%;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    flex: 1;
    text-align: right;
    padding-right:20px;
    position: relative;
    
}
.logo {
    width: 80px;
    height: 70px;
    margin: 10px 0 0 20px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:  10px;
    

}
.navbar ul li a {
    text-decoration: none;
    color:var(--light);
    font-weight: 400;
    font-family:  "Font Awesome 5";
    
}
.navbar ul li a:hover{
    color: var(--primary);
    transition: 0.7s;
}
.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: rgba(224, 224, 218, 0.685);
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar span{
    color: var(--primary);

}
.text-content {
     width: 70%;
     margin: 0  5px 0  40px;
     text-align:left;
     padding-bottom: 20px;
     height: 80vh;
     padding-top: 60px;
}
.col-text1 {
    color:var(--light);
    padding-top: 20px;
}
.btn {
    margin-top: 30px ;
    height: 60px;
    width:200px;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}
.btn:hover{
    background:none;
    color: var(--primary);
    transition: 1.2s;
    border: 1px solid var(--primary);
}
/*** Section Title ***/
.section-title {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.row {
    width:95%;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}
p{
    font-size: 14px;
    font-weight:300;
    line-height: 22px;
}
.facts {
    margin: 5%;
    display: flex;
    justify-content: space-between;
   
}
.facts-col{
    flex-basis: 31%;
    text-align: center;
    background:rgb(247, 242, 242);
    margin-bottom:5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.facts-col:hover{
    box-shadow: 0 0 20px 0px  rgba(0,0,0,0.2);
}
.icons {
    width: 50px;
    height: 50px;
}




/*----------Media Queries---------------------------*/
@media(max-width:700px) {
    h1 {
        font-size: 30px;
    }
    .text-content {
        height: 50%;
       margin: 0 0 0 20px;
    }
    
    .navbar {
        position: absolute;
        background: orange;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
      } 
    .facts {
        display:block ;
    }
    }
